@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea.form-control{
	resize: none;
}

.redMark{
	color: red;
}

.greenMark{
  color: green;
}

/*Welcome Image*/
#welcomeImage{
  background: url("../assets/welcome.jpg");
  background-color: rgb(47, 51, 58);
  min-height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: -100px;
}


/*Cinemas*/
.fa-plus-circle:hover{
	cursor: pointer;
}

/*Movies*/
.movieDetail img{
	width: 100%;
	height: 400px;
}

.movieShow{
  padding: 10px;
  transition: 0.3s;
}

.movieShow:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.timeSlotSched{
  height: 150px;
}

.container-fluid{
  margin-bottom: 100px;
}


#additionalDetails{
  opacity: 0.6;
  font-size: .9em;
}

/*Login*/
#logIn{
	padding: 2% 30px;
	margin: auto 25%; 
}

body{
  min-height:100vh;
  height: 100%;
  position:relative;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%
}

.socialLinks{
  font-size: 1.5em;
  color: white;
}
.socialLinks a{
  color: white;
}

.copyright{
  position: relative;
}

.disclaimer{
  position: absolute;
  bottom: 0;
}